################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tests/QueryParserTests/Debug
/QueryParser/Debug
/ipch
/Debug
/.vs
